div{
    background-color:pink;
    height:100px;
    width:100px;
    margin-bottom:30rem;
}
@media(orientation:landscape){
    div{
        background-color:blue;
    }
}
@media(orientation:portrait){
    div{
        background-color:yellow;
    }
}